---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>


<div class="protected">
  {% for pro in site.protected %}
    <article class="pro">

      <h1><a href="{{ site.baseurl }}{{ pro.url }}">{{ pro.title }}</a></h1>

      <div class="entry">
        {{ pro.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ pro.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
