---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>


<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: location.pathname, // 可选。默认为 location.href
  owner: 'praguednew',
  repo: 'gitalk-comment',
  oauth: {
    client_id: '029ae00035480c79e9ef',
    client_secret: '8633ae661c058f4307669e57ec2aa968626c1b6e',
  },
})
gitment.render('container')
</script>
