---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>


<!--[if !IE]> -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk/dist/gitalk.css">
  <script src="//cdn.jsdelivr.net/npm/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>
if (window.location.host != "praguednew.github.io")
{
var gitalk = new Gitalk({
  clientID: '029ae00035480c79e9ef',
  clientSecret: '8633ae661c058f4307669e57ec2aa968626c1b6e',
  repo: 'praguednew.github.io',
  owner: 'PragueDnew',
  admin: ['PragueDnew'],
  id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
}
else
{
var gitalk = new Gitalk({
  clientID: '029ae00035480c79e9ef',
  clientSecret: '8633ae661c058f4307669e57ec2aa968626c1b6e',
  repo: 'praguednew.github.io',
  owner: 'PragueDnew',
  admin: ['PragueDnew'],
  id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
}

gitalk.render('gitalk-container')
</script>
<!-- <![endif]-->
